In [2]:
import jupyter_dash as dash
import pandas as pd
import numpy as np
from pandas._typing import DataFrame

In [9]:
df = pd.read_csv("tic_data.csv")
df.describe()

,MOSTYPE,MAANTHUI,MGEMOMV,MGEMLEEF,MOSHOOFD,MGODRK,MGODPR,MGODOV,MGODGE,MRELGE,...,APERSONG,AGEZONG,AWAOREG,ABRAND,AZEILPL,APLEZIER,AFIETS,AINBOED,ABYSTAND,CARAVAN
count,9822.000000,9822.000000,9822.000000,9822.000000,9822.000000,9822.000000,9822.000000,9822.000000,9822.000000,9822.000000,...,9822.000000,9822.000000,9822.000000,9822.000000,9822.000000,9822.000000,9822.00000,9822.000000,9822.000000,9822.000000
mean,24.253207,1.108735,2.677561,2.996437,5.779067,0.700672,4.637650,1.050092,3.262981,6.188964,...,0.004582,0.007941,0.004276,0.574018,0.000916,0.005091,0.03146,0.008450,0.013846,0.059662
std,12.918058,0.412101,0.780701,0.804660,2.874148,1.015107,1.721212,1.011156,1.606287,1.896070,...,0.067535,0.088764,0.071224,0.561255,0.030258,0.077996,0.20907,0.092647,0.117728,0.236872
min,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
25%,10.000000,1.000000,2.000000,2.000000,3.000000,0.000000,4.000000,0.000000,2.000000,5.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
50%,30.000000,1.000000,3.000000,3.000000,7.000000,0.000000,5.000000,1.000000,3.000000,6.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
75%,35.000000,1.000000,3.000000,3.000000,8.000000,1.000000,6.000000,2.000000,4.000000,7.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
max,41.000000,10.000000,6.000000,6.000000,10.000000,9.000000,9.000000,5.000000,9.000000,9.000000,...,1.000000,1.000000,2.000000,7.000000,1.000000,2.000000,4.00000,2.000000,2.000000,1.000000

Analyze  the  errors  and  missing  values.  Write  a  function  to  count  how  many  missing  values  per
attribute  and  per  entry  you  have.  Analyze  what  are  the  most  relevant  missing  values  that  might
hinder the analysis according to you.

In [14]:
def count_nan(df: DataFrame)-> DataFrame :
    output = {}
    for i in df.columns:
        try:
            output[i] = df[i].value_counts()[0]
        except KeyError as e:
            output[i] = 0
    return output
count_nan(df)

{'ORIGIN': 5822,
 'MOSTYPE': 0,
 'MAANTHUI': 0,
 'MGEMOMV': 0,
 'MGEMLEEF': 0,
 'MOSHOOFD': 0,
 'MGODRK': 5420,
 'MGODPR': 127,
 'MGODOV': 3460,
 'MGODGE': 773,
 'MRELGE': 108,
 'MRELSA': 4185,
 'MRELOV': 1981,
 'MFALLEEN': 2916,
 'MFGEKIND': 613,
 'MFWEKIND': 243,
 'MOPLHOOG': 3621,
 'MOPLMIDD': 711,
 'MOPLLAAG': 494,
 'MBERHOOG': 2576,
 'MBERZELF': 7031,
 'MBERBOER': 6985,
 'MBERMIDD': 1164,
 'MBERARBG': 1995,
 'MBERARBO': 1636,
 'MSKA': 2871,
 'MSKB1': 2275,
 'MSKB2': 1694,
 'MSKC': 634,
 'MSKD': 4376,
 'MHHUUR': 1663,
 'MHKOOP': 1255,
 'MAUT1': 30,
 'MAUT2': 3078,
 'MAUT0': 2475,
 'MZFONDS': 109,
 'MZPART': 1436,
 'MINKM30': 2164,
 'MINK3045': 782,
 'MINK4575': 1505,
 'MINK7512': 5464,
 'MINK123M': 8253,
 'MINKGEM': 38,
 'MKOOPKLA': 0,
 'PWAPART': 5903,
 'PWABEDR': 9688,
 'PWALAND': 9613,
 'PPERSAUT': 4825,
 'PBESAUT': 9730,
 'PMOTSCO': 9460,
 'PVRAAUT': 9808,
 'PAANHANG': 9719,
 'PTRACTOR': 9576,
 'PWERKT': 9790,
 'PBROM': 9150,
 'PLEVEN': 9308,
 'PPERSONG': 9777,
 'PGEZONG': 9744,
 'PWAOREG': 9784,
 'PBRAND': 4464,
 'PZEILPL': 9813,
 'PPLEZIER': 9777,
 'PFIETS': 9573,
 'PINBOED': 9740,
 'PBYSTAND': 9687,
 'AWAPART': 5903,
 'AWABEDR': 9688,
 'AWALAND': 9613,
 'APERSAUT': 4825,
 'ABESAUT': 9730,
 'AMOTSCO': 9460,
 'AVRAAUT': 9808,
 'AAANHANG': 9719,
 'ATRACTOR': 9576,
 'AWERKT': 9790,
 'ABROM': 9150,
 'ALEVEN': 9308,
 'APERSONG': 9777,
 'AGEZONG': 9744,
 'AWAOREG': 9784,
 'ABRAND': 4464,
 'AZEILPL': 9813,
 'APLEZIER': 9777,
 'AFIETS': 9573,
 'AINBOED': 9740,
 'ABYSTAND': 9687,
 'CARAVAN': 9236}